<div class="container">
	<h1><%= @review.title %> <small>by <%= @review.user.name %></small></h1>
	<div class="col-md-10">
		<%= @review.body %>
		<br/>
		<small>Written about <%= link_to "#{@polish.brand}'s #{@polish.name}", polish_path(@polish) %></small>
	<% if policy(@review).update? %>
	<br/>
			<%= link_to ("<i class='fa fa-pencil'></i> Edit").html_safe, edit_polish_review_path(@polish, @review), class: 'btn btn-default' %>
	       <%= link_to ("<i class='fa fa-trash-o'></i> Delete").html_safe, [@polish, @review], method: :delete, class: 'btn btn-default', data: { confirm: 'Are you sure you want to delete this review?' } %>
	<% end %>
	</div>
</div>