<h1>Polish details</h1>
<% if policy(@polish).edit? %>
<%= link_to "Edit Polish", edit_polish_path(@polish), class: 'btn btn-success' %>
<% end %>
<% if policy(@polish).destroy? %>
<%= link_to "Delete Polish", @polish, method: :delete, class: 'btn btn-danger', data: {  confirm: 'Are you sure you want to delete this polish? '} %>
<%end%>
<p><%= @polish.brand%> - <%= @polish.name %></p>
<p>Color: <%= @polish.color %></p>
<p>Style: <%= @polish.style %> </p>

<h3>Polish Reviews</h3>
<% @reviews.each do |review| %>
<p><%= link_to review.title, polish_review_path(@polish, review) %></p>
<% end %>
<%= link_to "Add a Review", new_polish_review_path(@polish), class: 'btn btn-success' %>
